{% block title %}Вход{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<p>Добро пожаловать, {{ user.username }}!</p>
{% else %}
<form method="post">
	{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>
	<input type="hidden" name="next" value="{{ next }}">
	<input type="submit" value="Войти">
</form>
{% endif %}
<table>
	<a href="{% url 'signup' %}">Присоединиться</a>
</table>
<table>
	<a href="{% url 'registr' %}">Api регистрация</a>
</table>
<table>
	<a href="{% url 'api_accounts' %}">Api спиок зарегистрированных пользователей</a>
</table>
{% endblock %}

